@{
    ViewData["Title"] = "Home Page";
}
<div class="bgimg-1">
    <div class="caption">
        <span class="border-home">DATABASE</span>
        <br />
        <span class="border-home">ADMIN PANEL</span>
    </div>
</div>