
@{
    ViewData["Title"] = "Tables";
}

<h1 class="text-center">Tables</h1>

<div class="row text-center">
    <div class="col p-2">
        <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="UserTable" asp-action="Index">Users</a>
    </div>
    <div class="col p-2">
        <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="ProducerTable" asp-action="Index">Producers</a>
    </div>
    <div class="col p-2">
        <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="CategoryTable" asp-action="Index">Categories</a>
    </div>
    <div class="col p-2">
        <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="SubcategoryTable" asp-action="Index">Subcategories</a>
    </div>
    <div class="col p-2">
        <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="ProductTable" asp-action="Index">Products</a>
    </div>
</div>
<div class="row text-center">
    <div class="col p-2">
        <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="ReviewTable" asp-action="Index">Reviews</a>
    </div>
    <div class="col p-2">
        <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="OrderTable" asp-action="Index">Orders</a>
    </div>
    <div class="col p-2">
        <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="CategoryTable" asp-action="Index">OrderDetails</a>
    </div>
    <div class="col p-2">
        <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="CategoryTable" asp-action="Index">ShoppingCarts</a>
    </div>
    <div class="col p-2">
        <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="CategoryTable" asp-action="Index">ShoppingCartDetails</a>
    </div>
</div>