@{
    ViewData["Title"] = "Views";
}

<h1 class="text-center">Views</h1>

<div class="row text-center">
    <div class="col p-2">
        <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="View" asp-action="ActiveOrdersView">Active Orders</a>
    </div>
</div>