@model BaseListModel<Subcategory>
@{
    var pageCount = Math.Ceiling(Convert.ToDouble(Model.EntitiesCount) / 150);
    ViewData["Title"] = "Subcategories";
}

<div class="container">
    <h1 class="text-center">Subcategories</h1>
    <div>
        <div id="items">
            @await Html.PartialAsync("_Items", Model)
        </div>
        <div class="mt-4">
            <a class="nav-link text-white text-light btn btn-dark btn-create"
               asp-area=""
               asp-controller="SubcategoryTable"
               asp-action="Create">Create</a>
        </div>
        @if (pageCount > 1)
        {
            @for (int pageNum = 1; pageNum <= pageCount; pageNum++)
            {
                <button class="btn btn-link">@pageNum</button>
            }
        }
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".btn-link").click(function () {
                loadItems($(this).html(), 'SubcategoryTable');
            });
        });
    </script>
}