/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.btn-create {
    width: 20%;
    margin: auto;
}

.form-element {
    width: 50%;
    margin: auto;
}

td.comments {
    overflow-wrap: break-word;
    max-width: 50px;
}

body, html {
    height: 100% !important;
    margin: 0 !important;
    font: 400 15px/1.8 "Lato", sans-serif !important;
    color: #777 !important;
}

.bgimg-1 {
    background-image: url("../img/database.jpg") !important;
    height: 100% !important;
    position: relative !important;
    opacity: 0.9 !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.caption {
    position: absolute !important;
    left: 0 !important;
    top: 50% !important;
    width: 100% !important;
    text-align: center !important;
    color: #000 !important;
}

.caption span.border-home {
    background-color: #111 !important;
    color: #fff !important;
    padding: 18px !important;
    font-size: 25px !important;
    letter-spacing: 10px !important;
}