@model Product

@{
    var action = Model.Id == null ? "Create" : "Update";
    ViewData["Title"] = action;
}

<div class="container">
    <h1 class="text-center">@action product</h1>
    <form asp-controller="ProductTable" asp-action="@action">
        <div class="form-group mt-2 form-element">
            <label asp-for="Name" class="mb-0">Name</label><span class="text-danger">*</span>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group mt-2 form-element">
            <label asp-for="Description" class="mb-0">Description</label>
            <input type="text" asp-for="Description" class="form-control" />
        </div>
        <div class="form-group mt-2 form-element">
            <label asp-for="SubcategoryId" class="mb-0">Subcategory Id</label><span class="text-danger">*</span>
            <input type="number" asp-for="SubcategoryId" class="form-control" />
        </div>
        <div class="form-group mt-2 form-element">
            <label asp-for="ProducerId" class="mb-0">Producer Id</label><span class="text-danger">*</span>
            <input type="number" asp-for="ProducerId" class="form-control" />
        </div>
        <div class="form-group mt-2 form-element">
            <label asp-for="Price" class="mb-0">Price</label><span class="text-danger">*</span>
            <input type="number" asp-for="Price" class="form-control" />
        </div>
        <div class="form-group mt-2 form-element">
            <label asp-for="Quantity" class="mb-0">Quantity</label><span class="text-danger">*</span>
            <input type="number" asp-for="Quantity" class="form-control" />
        </div>
        <div class="form-group mt-4 text-center">
            <input type="submit" value="@action" class="btn-create btn btn-dark text-light" />
        </div>
    </form>
</div>