@model Producer

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create producer</h1>

<form asp-controller="ProducerTable" asp-action="Create">
    <div class="form-group mt-2" style="width:50%;margin:auto">
        <label asp-for="Name" class="mb-0">Producer Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group mt-4 text-center">
        <input type="submit" value="Create" class="btn btn-dark text-light" style="width:20%" />
    </div>
</form>