@model BaseListModel<Producer>
@{
    var pageCount = Math.Ceiling(Convert.ToDouble(Model.EntitiesCount) / 150);
    ViewData["Title"] = "Producers";
}

<h1 class="text-center">Producers</h1>

<div>
    <div id="items">
        @await Html.PartialAsync("_Items", Model)
    </div>
    <div class="mt-4">
        <a class="nav-link text-white text-light btn btn-dark btn-create"
           asp-area=""
           asp-controller="ProducerTable"
           asp-action="Create">Create</a>
    </div>
    @for (int pageNum = 1; pageNum <= pageCount; pageNum++)
    {
        <button class="btn btn-link">@pageNum</button>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".btn-link").click(function () {
                loadItems($(this).html(), 'ProducerTable');
            });
        });
    </script>
}