@model List<Category>
@{
    ViewData["Title"] = "Categories";
}

<h1 class="text-center">Categories</h1>

<div>
    <div>
        <table style="width:100%" class="text-center">
            <tr>
                <td style="width:25%">Id</td>
                <td style="width:25%">Name</td>
                <td style="width:25%"></td>
                <td style="width:25%"></td>
            </tr>
            @foreach (var category in Model)
            {
                <tr class="border-bottom">
                    <td style="width:25%">@category.Id</td>
                    <td style="width:25%">@category.Name</td>
                    <td style="width:25%"><a class="btn btn-danger mt-1 mb-1" asp-controller="CategoryTable" asp-action="Delete" asp-route-id="@category.Id">Delete</a></td>
                    <td style="width:25%"><a class="btn btn-warning mt-1 mb-1" asp-controller="CategoryTable" asp-action="Update" asp-route-id="@category.Id">Update</a></td>
                </tr>
            }
        </table>
    </div>
    <div class="mt-4">
        <a class="nav-link text-white text-light btn btn-dark btn-create"
           asp-area=""
           asp-controller="CategoryTable"
           asp-action="Create">Create</a>
    </div>
</div>