
@{
    ViewData["Title"] = "Actions";
}

<div class="container text-center">
    <h1 class="mt-3">Actions</h1>
    <div class="row text-center">
        <div class="col p-2">
            <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="Action" asp-action="GetDifference">Get Difference</a>
        </div>
    </div>
</div>