@model Review

@{
    var action = Model.Id == null ? "Create" : "Update";
    ViewData["Title"] = action;
}

<h1 class="text-center">@action review</h1>

<form asp-controller="ReviewTable" asp-action="@action">
    <div class="form-group mt-2 form-element">
        <label asp-for="ProductId" class="mb-0">Product Id</label><span class="text-danger">*</span>
        <input type="number" asp-for="ProductId" class="form-control" />
    </div>
    <div class="form-group mt-2 form-element">
        <label asp-for="UserId" class="mb-0">User Id</label><span class="text-danger">*</span>
        <input type="number" asp-for="UserId" class="form-control" />
    </div>
    <div class="form-group mt-2 form-element">
        <label asp-for="Rating" class="mb-0">Rating</label><span class="text-danger">*</span>
        <input type="number" asp-for="Rating" class="form-control" />
    </div>
    <div class="form-group mt-2 form-element">
        <label asp-for="Comments" class="mb-0">Comments</label>
        <textarea asp-for="Comments" class="form-control"></textarea>
    </div>
    <div class="form-group mt-4 text-center">
        <input type="submit" value="@action" class="btn-create btn btn-dark text-light" />
    </div>
</form>