@model ShoppingCart

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create Shopping Cart</h1>

<form asp-controller="ShoppingCartTable" asp-action="Create">
    <div class="form-group mt-2 form-element">
        <label asp-for="UserId" class="mb-0">User Id</label><span class="text-danger">*</span>
        <input type="number" asp-for="UserId" class="form-control" />
    </div>
    <div class="form-group mt-4 text-center">
        <input type="submit" value="Create" class="btn-create btn btn-dark text-light" />
    </div>
</form>